@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ROOT */
:root {
    --background-linear: linear-gradient(150deg, #0F2B05 4%, #000000 87%);
    --color-border: #F7DD43;
    --font-light: #fff;
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INITIAL */


body * {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: var(--background-linear);
    text-align: center;
}
header{
    padding: 75px 0;
}

.card{
    display: inline-block;
    width: 354px;
    height: 508px;

    background-image: url(./assets/bg-explorer.svg);
    cursor: pointer;

    opacity: 0;
    transform: translateY(-100px);
    animation: appear .4s forwards;

}

.card .avatar{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid var(--color-border);
        margin-top: 115px;

        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
}

.card .info{
    margin-top: 98px;
    color: var(--font-light);
    margin-left: 70px;
    text-align: left;
}
.card .info h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}

.card .info p{
    font-size: 14px;
}

@keyframes appear {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}